<div class="jumbotron">
  <h1 class="display-5">Contact Me</h1>
  <hr class="my-4">
  <p>Whether you want to hire me, work with me, or confess your love.<br>
    I would love to hear from you.
  </p>
</div>

<div class="card text-white bg-dark mb-3">

  <div class="card-body">
    <h4 class="card-title"><a href="mailto:chrisrod99@yahoo.com" target="_top">Send Mail</a></h4>
    <h4 class="card-title"><a href="https://www.linkedin.com/in/christian-i-rodriguez">LinkedIn</a></h4>
    <h4 class="card-title"><a href="https://github.com/Christiandecolombia">GitHub</a></h4>
  </div>
</div>