<div class="jumbotron">
      <h1 class="display-5">Projects</h1>
      <hr class="my-4">
      <p>Here are a few projects I have build while at Coding Dojo, Most of them do not have styling completed
            because I wanted to focus on fuctionaly and and back-end developement. I am currently working with clients
            and hope to update this site as I complete more work. stay tuned.</p>
      <br>
</div>

<div class="card text-white bg-secondary mb-3">
      <div class="card-header">PORTFOLIO WEBSITE</div>
      <div class="card-body">
            <h4 class="card-title">
                  Mongo Database<br>
                  Express<br>
                  Angular 7<br>
                  Node js<br></h4>
            <p class="card-text">Personal portfolio I made using the full MEAN stack.Multiple components
                   with angular and bootstrap for style, still a work in progress. <br>
                   No templates, No wordpress.<br>
                   Feel free to <a href="https:/builtwith.com">check out what I used</a> or check out my other projects.
                  </p>
            <br>
      </div>
</div>

<div class="card text-white bg-info mb-3">
      <div class="card-header">INKLING</div>
      <div class="card-body">
            <h4 class="card-title">
                  C#<br>
                  ENTITY FRAMEWORK<br>
                  SQL DATABASE</h4>
            <a href="https://github.com/Christiandecolombia/inkling" class="btn btn-secondary">GitHub</a>
            <img src="assets/images/inkling/inkling1.png" alt="Well, this is awkward">
            <img src="assets/images/inkling/inkling2.png" alt="Well, this is awkward">
            <img src="assets/images/inkling/inkling3.png" alt="Well, this is awkward">
            <br>
            <p class="card-text">Complete project I worked on with a classmate.
                  Inkling is a company that takes an employee's ideas and routes them up the latter,
                  with documentation on how to use our Experiment Driven Design concept.
                  A complete SQL database with 9 tables and multiple web pages , its my favorite.</p>
            <br>
      </div>
</div>

<div class="card text-white bg-danger mb-3">
      <div class="card-header">QUOTE RANKES</div>
      <div class="card-body">
            <h4 class="card-title">
                  MEAN<br>
                  NODE JS<br>
                  MONGO DATABASE<br>
            </h4>
            <a href="https://github.com/Christiandecolombia/QuoteRanks" class="btn btn-secondary">GitHub</a>
            <img src="assets/images/quoteRanks/quoteRanks1.png" alt="Well, this is awkward">
            <img src="assets/images/quoteRanks/quoteRanks2.png" alt="Well, this is awkward">
            <br>
            <p class="card-text"> I Created an application where users view authors and their famous quotes.
                  List all the authors on the first page. From there, the user may click on
                  a button to see each author's famous quotes. The user may then vote up, vote down,
                  and delete the different quotes, and added forms so the user may contribute new authors and new
                  quotes.Use backend validations to ensure that all author names and quotes are at least
                  three characters long.</p>
            <br>
      </div>
</div>


<div class="card text-white bg-warning mb-3">
      <div class="card-header">CAKE RANKS</div>
      <div class="card-body">
            <h4 class="card-title">
                  EXPRESS<br>
                  NODE JS<br>
                  MONGO DATABASE<br>
            </h4>
            <img src="assets/images/cakeRanks/cakeRanks1.png" alt="Well, this is awkward">
            <img src="assets/images/cakeRanks/cakeRanks2.png" alt="Well, this is awkward">
            <br>
            <p class="card-text">The assignment was to create an application that allows users to submit
                  pictures of cakes. All the cakes may be viewed, rated from 1-5 stars,
                  and commented upon. When a cake image is clicked, have a nested details component show the image.</p>
            <br>
      </div>
</div>

<div class="card text-white bg-primary mb-3">
      <div class="card-header">WEDDING PLANNER</div>
      <div class="card-body">
            <h4 class="card-title">
                  C#<br>
                  ENTITY FRAMEWORK<br>
                  SQL DATABASE</h4>
            <img src="assets/images/weddingPlanner/weddingPlanner1.png" alt="Well, this is awkward">
            <img src="assets/images/weddingPlanner/weddingPlanner2.png" alt="Well, this is awkward">
            <br>
            <p class="card-text"> In this assignment contained a login and registration with backend validations.
                  I used sessions after the user was logged in to verify that they had access
                  to the rest of the site. Used a SQL database to add events and details about each
                  event and also built a many-many relationship so each event could have RSVPs</p>
            <br>
      </div>
</div>

<div class="card text-white bg-success mb-3">
      <div class="card-header">DOJO SURVEY</div>
      <div class="card-body">
            <h4 class="card-title">
                  PYTHON<br>
                  DJANGO<br>
                  SQL DATABASE<br>
            </h4>
            <a href="https://github.com/Christiandecolombia/PythonDojoSurvey" class="btn btn-secondary">GitHub</a>
            <img src="assets/images/dojoSurvey/dojoSurvey11.png" alt="Well, this is awkward">
            <img src="assets/images/dojoSurvey/dojoSurvey22.png" alt="Well, this is awkward">
            <br>
            <p class="card-text"> Styling not in scope
                  This assignment was focused on model binding.
                  The User input on one page will be displayed on the next. I also used backend validations
                  and Sessions to ensure the correct user was logged in.</p>
            <br>
      </div>
</div>