<div class="card text-white bg-secondary mb-3" style="max-width: 50rem;">
    <div class="card-header"><img src="../assets/images/Pvz_logo.png" alt="Well, this is akward" width="240"></div>
    <div class="card-body">

      <p class="card-text">Take a break from the world and play the best game ever...</p>
        
        <br>
        

      <p>
        <iframe src="https://www.gameflare.com/embed/plants-vs-zombies/" frameborder="0" scrolling="no" width="540"
        height="435" allowfullscreen></iframe>
      </p>
    </div>
  </div>