<head>

  <link ref="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">

</head>

<body>
    <div class="card border-secondary mb-3">
    <img src="assets/images/20190317_144500.jpg" alt="Card image">
    <h3 class="card-header" style="font-family: Playfair Display, Georgia, serif;">Christian Rodriguez</h3>
    <div class="card-body">
      <p class="card-text">Software developer<br> living in Seattle Washington
      </p>
    </div>

    <button type="button" class="btn btn-primary btn-lg btn-block"[routerLink]="['/home']">Home</button>
    <button type="button" class="btn btn-primary btn-lg btn-block"[routerLink]="['/projects']">Projects</button>
    <button type="button" class="btn btn-primary btn-lg btn-block"[routerLink]="['/contact']">Contact</button>

    <div class="card-footer text-muted">
      &copy;2019 All rights reserved
    </div>
  </div>


  <div id="sections" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>


</body>